@charset "utf-8";
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
margin: 0px;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
}

/* 메뉴를 숨기기 위한 기본 스타일 */
aside {
width: 230px;
margin-top: 140px;
position: absolute;
top: 0;
background: rgb(255, 255, 255);
transform: translateX(-100%); /* 메뉴를 처음에는 왼쪽으로 숨김 */
transition: transform 0.3s ease; /* 슬라이딩 애니메이션 */
z-index: 9999;
border-top: solid 1px #e3e3e3;
border-bottom: solid 1px #e3e3e3;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
}

/* 메뉴 아이콘 스타일 */
#menu-toggle {
top: 18px;
left: 20px; /* 아이콘의 위치를 왼쪽 상단으로 조정 */
font-size: 20px;
color: #333;
cursor: pointer; /* 메뉴보다 앞에 위치 */
}

#menu-toggle:hover {
color: #555;
}

aside ul {
position: relative;
list-style-type: none;
}

aside ul li a {
display: flex;
align-items: center;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
text-decoration: none;
text-transform: capitalize;
color:#000;
padding: 10px 30px;
height: 50px;
transition: .5s ease;

}

aside ul li a:hover {
background: rgba(167, 165, 165, 0.7);
color: #fff;
}

aside ul ul {
position: absolute;
left: 228px;
width: 200px;
top: 0;
margin-top: -1px;
display: none;
background: rgb(255, 255, 255);
border: solid 1px #e3e3e3;
}

aside ul span {
position: absolute;
right: 20px;
font-size: 1.5em;
}

aside ul .dropdown {
position: relative;
}

aside ul .dropdown:hover > ul {
display: initial;
}

aside ul .dropdown_two ul {
display: absolute;
left: 198px;
}

aside ul .dropdown_two:hover ul {
display: initial;
}

/* 메뉴가 활성화되었을 때 왼쪽에서 나오도록 */
aside.open {
transform: translateX(0); /* 왼쪽에서 오른쪽으로 슬라이드 */
}

nav {
margin-top: 30px;
width: 1525px;
/* height: 80px; */
height: 111px;
overflow: hidden;
/* background-color: #f8f9fa; 배경색 */
display: flex;
align-items: center;
padding: 0 10px;
border-bottom: 1px solid #e3e3e3;
position: relative;
}

/* 알림 모달 스타일 */
.notification-modal {
    display: none; /* 기본 숨김 */
    position: fixed;
    top: 50px;
    right: 20px;
    width: 403px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
}

.notification-content {
    padding: 0px;
    font-size: 0.9rem;
    color: #333;
}
#iframeContainer {
    width: 800px; /* 표시할 화면의 너비 */
    height: 740px; /* 표시할 화면의 높이 */
    overflow: hidden;
    position: relative;
}

#iframeContainer iframe {
    width: 1000px; /* 원본 페이지의 너비 */
    height: 740px; /* iframeContainer와 동일한 높이 */
    transform: translateX(-69.9%); /* 가로 중앙 기준 */
    left: 50%;
    position: relative;
    border: none;
}

.icons {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    text-align: center;
    position: relative;
}

